<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="WebApplication3.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <script src="JavaScript.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="Styles.css">
</head>
<body>
  
             <div id="navbar" class="navbar">
  <a class="not" href="#">Sale</a>
  <div class="dropdown">
    <button class="dropbtn">Nutrition</button>
    <div class="dropdown-content">
    <div class="row">
      <div class="column">
      <h2 class="top">Foods</h2>
      <a href="#">Bars</a>
      <a href="#">Baking ingredients</a>
      <a href="#">Breakfast</a>
      <a href="#">Beef</a>
    </div>
    <div class="column">
      <a class="top" href="#">Dried fruits</a>
      <a href="#">Drinks</a>
      <a href="#">Fish</a>
      <a href="#">Pork</a>
      <a href="#">Snacks</a>
    </div>
      <div class="column"> 
      <h2 class="top">Nut Butters</h2>
      <a href="#">Peanut Butter</a>
      <a href="#">Almond Butter</a>
      <a href="#">Hazelnut Butter</a>
      <a href="#">Pistachio Butter</a>  
    </div>
      <div class="column"> 
      <h2 class="top">Trending</h2> 
      <a href="#">Peanut Butter 1KG</a>   
      <a href="#">Protein Snack Bars x12</a>     
      <a href="#">Oats 1KG</a>
      <a href="#">High Protein Bagels</a>     
      </div>
    </div>
    </div>
</div>
  <div class="dropdown">
    <button class="dropbtn">Supplements</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
  <a class="not" href="#news">News</a>
</div>

    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            
            
            
            </asp:ContentPlaceHolder>
        </div>
    </form>

   



</body>
</html>
